<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>- Agenda Escolar -</title>
        <link rel="stylesheet" type="css" href="css/estilos.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>

        <header>
            <div>
                <div class="logo">
                    <p>Agenda Escolar</p>
                </div>

                <nav>
                    <a href="/">Cerrar Sesion</a>
                    <a href="#">¿Que es Agenda Escolar?</a>
                    <a href="#">Mi Perfil</a>
                    <a href="./index-docente">Inicio</a>
                </nav>
            </div>
        </header>
        
        <section>

            <% if (materia) {%>
            <h3>Asociar alumno a <%=materia.nombre_materia%></h3>
            <h3>ID: <%=materia.id_materia%></h3>

            <section>

                <h4>Alumnos asignados</h4>
                <button id="btn-abrir-modal" class="boton">+ Asignar</button>

                <dialog id="modal">

                    <h4>Formulario: Asignar alumno a <%=materia.nombre_materia%></h4>

                    <div>
                        <form action="/save-inscripcion" method="POST">
                            <select name="alumnoSeleccionado" id="alumnoSelect">

                                <option disabled selected>Seleccione un alumno</option>

                                <% estudiantes.forEach((estudiante) => { %>
                                    <option value="<%= estudiante.id_usuario %>" data-estudiante='<%= JSON.stringify(estudiante) %>'> 
                                        <%= estudiante.apellido %> <%= estudiante.nombre %>   
                                    </option>
                                <% }) %>
                            </select>

                            <div>
                                <input type="text" id="idmateria" name="idmateria" value="<%=materia.id_materia%>" hidden>
                            </div>
            <%}%>

                            <select name="turnoinscripcion" id="turnoinscripcion">
                                <option selected disabled>Seleccione un turno</option>
                                <option value="Mañana">Mañana</option>
                                <option value="Tarde">Tarde</option>
                            </select>

                            <div>
                                <button type="submit" id="btn-cerrar-modal">Asignar</button>
                            </div>
                            
                        </form>
                    </div>

                    <button type="submit" id="btn btn-primary btn-cerrar-modal">Cerrar</button>
                </dialog>

                <div class="container">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Apellido</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Turno</th>
                                <th class="text-center">Opcion</th>
                            </tr>
                        </thead>
                
                        <tbody>
                            <% inscripciones.forEach((inscripcion) => { %>
        
                            <tr>
                                <td class="text-center"><%= inscripcion.apellido %></td>
                                <td class="text-center"><%= inscripcion.nombre %></td>
                                <td class="text-center"><%= inscripcion.turno %></td>
                                <td class="text-center">
                                    <a href="#" class="boton">Desasignar</a>
                                </td>
                            </tr>
                            
                            <% }) %>
                        </tbody>
                    </table>
                </div>

            </section>

            <div>

                <form action="/alumno-a-materia" method="POST">

                    

                </form>

            </div>

        </section>

    </body>

    <script>

        //MODAL
        const btnAbrirModal = document.querySelector('#btn-abrir-modal');
        const btnCerrarModal = document.querySelector('#btn-cerrar-modal');
        const modal = document.querySelector('#modal');

        btnAbrirModal.addEventListener("click", () => {
            modal.showModal();
        })

        btnCerrarModal.addEventListener('click', () => {
            modal.close();
        })

        //INPUTS
        // Obtén referencia al select y al input
        const selectAlumno = document.getElementById('alumnoSelect');
        const inputAlumnoId = document.getElementById('idalumno');

        // Agrega un evento de cambio al select
        selectAlumno.addEventListener('change', () => {
            // Obtiene el valor seleccionado del select
            const selectedAlumnoId = selectAlumno.value;

            // Asigna el valor del input con el ID del alumno seleccionado
            inputAlumnoId.value = selectedAlumnoId;
        });
        
    </script>

</html>