<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Agenda Escolar -</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


</head>
<body>

    <header>
        <div>
            <div class="logo">
                <p>Agenda Escolar</p>
            </div>

            <nav>
                <a href="/">Cerrar Sesion</a>
                <a href="#">¿Que es Agenda Escolar?</a>
                <a href="#">Mi Perfil</a>
                <a href="./index-docente">Inicio</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Bienvenido Administrador</h1>
        <div id="botones-inicio">

            <div class="container">
                
                <!--***** MATERIAS *****-->

                <h4>MATERIAS</h4>
                <div class="flex-cont">
                    <a href="/crear-materia" class="boton-crear">Crear materia</a>
                    <a href="/materias-eliminadas" class="boton-eliminar">Eliminadas</a>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Año</th>
                            <th class="text-center">Division</th>
                            <th class="text-center">Docente asignado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                

                    <tbody>
                        <% materias.forEach((materia) => { %>
                            <tr>
                                <% if(materia.estado == 1) {%>
                                <td class="text-center" hidden><%= materia.id_materia %></td>
                                <td class="text-center"><%= materia.nombre_materia %></td>
                                <td class="text-center"><%= materia.anio_cursada %></td>
                                <td class="text-center"><%= materia.division %></td>
                                <% if(materia.profesor_id == materia.id_usuario){ %>
                                    <td class="text-center"><%= materia.nombre %> <%= materia.apellido %></td>
                                <% } %>
                                <td class="text-center">
                                    <a href="asociar-alumno-materia/<%= materia.id_materia %>" class="boton-tabla">Alumnos Asociados</a>
                                    <a href="editar-materia/<%= materia.id_materia %>" class="boton-tabla">EDITAR</a>
                                    <a href="delete-materia/<%= materia.id_materia %>" class="boton-tabla"> ELIMINAR </a>
                                </td>
                                <% }%>
                            </tr>
                        <% }) %>
                    </tbody>
                    
                </table>
                
            </div>
        
            

            <!--***** ALUMNOS *****-->
            <div class="container">

                <h4>ALUMNOS</h4>
                <div class="flex-cont">
                    <a href="/crear-alumno" class="boton-crear">Crear Alumno</a>
                    <a href="#" class="boton-eliminar">Eliminados</a>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center" hidden>ID</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Apellido</th>
                            <th class="text-center">DNI</th>
                            <th class="text-center">Correo Electronico</th>
                            <th class="text-center">Fecha de Nacimiento</th>
                            <th class="text-center">Direccion</th>
                            <th class="text-center">Telefono</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>


                    <tbody>
                        <% usuarios.forEach((usuario) => { %>
                            
                                <tr>
                                    <% if(usuario.rol == "Estudiante" && usuario.estado == 1) {%>

                                        <%console.log(usuario)%>

                                        <% const fechaOriginal = new Date(usuario.fecha_nacimiento); %>
                                        <% const año = fechaOriginal.getFullYear(); %>
                                        <% const mes = String(fechaOriginal.getMonth() + 1).padStart(2, '0'); %> 
                                        <% const dia = String(fechaOriginal.getDate()).padStart(2, '0'); %>
                                        <% const fechaFormateada = `${año}-${mes}-${dia}`; %>
                                        
                                        <td class="text-center" hidden><%= usuario.id_usuario %></td>
                                        <td class="text-center"><%= usuario.nombre %></td>
                                        <td class="text-center"><%= usuario.apellido %></td>
                                        <td class="text-center"><%= usuario.dni %></td>
                                        <td class="text-center"><%= usuario.correo %></td>
                                        <td class="text-center"><%= fechaFormateada %></td>
                                        <td class="text-center"><%= usuario.direccion %></td>
                                        <td class="text-center"><%= usuario.telefono %></td>
                                        <td class="text-center">
                                            <a href="/reset-password/<%=usuario.id_usuario%>" class="boton-tabla">Contraseña</a>
                                            <a href="/editar-alumno/<%=usuario.id_usuario%>" class="boton-tabla">Editar</a>
                                            <a href="/delete-alumno/<%=usuario.id_usuario%>" class="boton-tabla">Eliminar</a>
                                        </td>
                                    <% } %>
                                </tr>
                        <% }) %>
                    </tbody>
                    
                </table>
                
            </div>

            <!--**** DOCENTES ****-->
            <div class="container">
                
                <h4>DOCENTES</h4>
                <div class="flex-cont">
                    <a href="/crear-docente" class="boton-crear">Crear Docente</a>
                    <a href="#" class="boton-eliminar">Eliminados</a>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center" hidden>ID</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Apellido</th>
                            <th class="text-center">DNI</th>
                            <th class="text-center">Correo Electronico</th>
                            <th class="text-center">Fecha de Nacimiento</th>
                            <th class="text-center">Direccion</th>
                            <th class="text-center">Telefono</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>


                    <tbody>
                        <% usuarios.forEach((usuario, i1) => { %>
                            
                                <tr>
                                    <% if(usuario.rol == "Docente" && usuario.estado == 1) {%>
                                        <% const fechaOriginal = new Date(usuario.fecha_nacimiento); %>
                                        <% const año = fechaOriginal.getFullYear(); %>
                                        <% const mes = String(fechaOriginal.getMonth() + 1).padStart(2, '0'); %> 
                                        <% const dia = String(fechaOriginal.getDate()).padStart(2, '0'); %>
                                        <% const fechaFormateada = `${año}-${mes}-${dia}`; %>
                                        
                                        <td class="text-center" hidden><%= usuario.id_usuario %></td>
                                        <td class="text-center"><%= usuario.nombre %></td>
                                        <td class="text-center"><%= usuario.apellido %></td>
                                        <td class="text-center"><%= usuario.dni %></td>
                                        <td class="text-center"><%= usuario.correo %></td>
                                        <td class="text-center"><%= fechaFormateada %></td>
                                        <td class="text-center"><%= usuario.direccion %></td>
                                        <td class="text-center"><%= usuario.telefono %></td>
                                        <td class="text-center">
                                            <a href="/reset-password/<%=usuario.id_usuario%>" class="boton-tabla">Contraseña</a>
                                            <a href="/editar-docente/<%=usuario.id_usuario%>" class="boton-tabla">Editar</a>

                                            <% var flag = 0 %>
                                            <% materias.forEach((materia, i2) => { %>

                                                <% if(usuario.id_usuario == materia.profesor_id && flag == 0){ %>
                                                    <a class="boton-tabla-disabled" title="Debe eliminar primero la relacion del Docente a las materias">Eliminar</a>
                                                    <% flag = 1 %>

                                                <%}else if(i2 === materias.length - 1 && flag == 0){%>
                                                        <a href="/delete-docente/<%=usuario.id_usuario%>" class="boton-tabla" id="deletebtnadm">Eliminar</a>

                                                <%}%>
                                            <%})%>
                                        </td>
                                    <% } %>
                                </tr>
                        <% }) %>
                    </tbody>
                    
                </table>

                
                
            </div>
            
            
        </div>
    </section>

    <a href="/" class="boton-volver">VOLVER AL LOGIN</a>

    
</body>

</html>