<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Mis cursos -</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <!--<link rel="stylesheet" href="css/styles.css">-->
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <p>Agenda Escolar</p>
            </div>

            <nav>
                <a href="#">Cerrar Sesion</a>
                <a href="#">¿Que es Agenda Escolar?</a>
                <a href="#">Mi Perfil</a>
                <a href="./index.html">Inicio</a>
            </nav>
        </div>
    </header>

    <section id="hero">

        <label for="turno">Filtrar por turno:</label>
        <select id="turno" name="turno">
            <option value="Mañana">Mañana</option>
            <option value="Tarde">Tarde</option>
        </select>

        <div class="container">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center" hidden>ID Alumno</th>
                        <th class="text-center">Apellido</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Turno</th>
                        <th class="text-center">Nota 1º Trimestre</th>
                        <th class="text-center">Nota 2º Trimestre</th>
                        <th class="text-center">Nota 3º Trimestre</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
        
                <tbody>
                    <% alumnos.forEach((alumno) => { %>
                        <% if(alumno.estado == 1) {%>
                    <tr>
                        <td class="text-center" hidden><%= alumno.id_usuario %></td>
                        <td class="text-center"><%= alumno.apellido %></td>
                        <td class="text-center"><%= alumno.nombre %></td>
                        <td class="text-center"><%= alumno.turno %></td>
                        <td class="text-center"><%= alumno.calificacion_trimestre1 %></td>
                        <td class="text-center"><%= alumno.calificacion_trimestre2 %></td>
                        <td class="text-center"><%= alumno.calificacion_trimestre3 %></td>
                        <td class="text-center">
                            <a href="/editar-nota/<%= alumno.id_usuario %>/<%= alumno.id_materia %>" class="boton">EDITAR</a>
                            <a href="/delete/<%= alumno.id_usuario %>/<%= alumno.id_materia %>" class="boton">ELIMINAR</a>
                        </td>
                    </tr>
                        <% } %>
                    
                    <% }) %>
                </tbody>
            </table>
        </div>
    </section>

    <a href="/docente">VOLVER</a>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>